{% extends 'base.html' %}
{% block head %}{% endblock head %}

{% block body %}
<div class="content-body">

    <div class="container-fluid mt-3">
        
        <div class="row">
            
            <div class="col-xl-6 col-lg-12 col-sm-12 col-xxl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-title">Hasil Perankingan (Verifikasi Data Anggota) Bansos {{nama_bansos.nama_bansos}}</h4>
                            <div class="dropdown-button">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn mt-2 btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tahun</button>
                                    <div class="dropdown-menu">
                                        {% for t in t %}
                                        <a class="dropdown-item" href="{% url 'penerima:ranking' slug=slug tahun=t %}">{{t}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                {% if disetujui >= kuota and penerima == 0 and ranking %}
                                <form method="POST" action="{% url 'penerima:proses' slug %}">
                                    {% csrf_token %}
                                    <input name="jenis_bansos" id="jenis_bansos" type="hidden" value="{{slug}}">
                                    <button type="submit" class="btn mt-2 ml-2 btn-info">Proses Data</button>
                                </form>
                                {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        <div class="table-responsive" >
                            <table class="table table-striped zero-configuration" id="table-ranking">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>NIK</th>
                                        <th>Hasil Ranking</th>
                                        <th>Status</th>
                                        <th>Detail</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ranking in ranking %}
                                    <tr>
                                        <th>{{forloop.counter}}</th>
                                        <td>{{ranking.anggota.nama_art}}</td>
                                        <td>{{ranking.anggota.nik}}</td>
                                        <td>{{ranking.nilai}}</td>
                                        <td>{{ranking.status}}</td>
                                        <td>
                                            <a href="{% url 'dtks:detail_art' id=ranking.anggota.id %}" class="btn mb-1 btn-info btn-sm px-2"><i class="fa fa-eye font-18 align-middle"></i>  Detail</a>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                {% if ranking.status == 'Belum Diverifikasi' and penerima == 0 %}
                                                <form method="POST" action="{% url 'penerima:disetujui' id=ranking.id %}">
                                                    {% csrf_token %}
                                                    <input name="_method" type="hidden" value="DISETUJUI">
                                                    <button type="submit" class="sweet-confirm btn mb-1 btn-rounded btn-success btn-xs px-2 confirm_approve" data-toggle="tooltip">
                                                      Setujui <i class="fa fa-check"></i>
                                                    </button>
                                                    <button type="button" class="sweet-confirm btn mb-1 btn-rounded btn-danger btn-xs px-2 confirm_reject" id="{{ranking.id}}" data-toggle="tooltip">
                                                        Tolak <i class="fa fa-times"></i>
                                                    </button>
                                                </form>
                                                {% comment %} <form method="POST" action="{% url 'penerima:ditolak' id=ranking.id %}">
                                                    {% csrf_token %}
                                                    <input name="_method" type="hidden" value="DITOLAK">
                                                    <button type="submit" class="sweet-confirm btn mb-1 btn-rounded btn-danger btn-xs px-2 confirm_reject" data-toggle="tooltip">
                                                      Tolak <i class="fa fa-times"></i>
                                                    </button>
                                                </form> {% endcomment %}
                                                {% comment %} <span href="{% url 'dtks:detail_art' id=ranking.anggota.id %}" class="badge badge-pill badge-success px-2">Disetujui</span> {% endcomment %}
                                                {% comment %} <span href="{% url 'dtks:detail_art' id=ranking.anggota.id %}" class="badge badge-pill badge-danger px-2">Ditolak</span> {% endcomment %}
                                                {% endif %}
                                            </div>
                                        </td>
                                        {% comment %} <td>
                                            <a href="{% url 'dtks:detail_art' id=ranking.anggota.id %}" class="badge badge-pill badge-warning px-2">{{ranking.status}}</a>
                                        </td> {% endcomment %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
{% endblock body %}

{% block footer %}
<script type="text/javascript">
$('.confirm_approve').click(function(event) {
    var form =  $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
    Swal.fire({
    title: 'Apakah anda yakin untuk menyetujui data ini?',
    text: "Setelah disetujui, data akan langsung masuk dalam perhitungan",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
    confirmButtonText: 'Ya, setujui!'
    }).then((result) => {
    if (result.isConfirmed) {
        Swal.fire(
        'Disetujui!',
        'Data penerima telah disetujui.',
        'success'
        )
        form.submit();
    }
    })     
});


{% comment %} $('.confirm_reject').click(function(event) {
    var form =  $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
        Swal.fire({
        title: 'Apakah anda yakin untuk menolak data ini?',
        text: "Setelah ditolak, data akan langsung dihapus dari perhitungan",
        input: 'text',
        inputLabel: 'Alasan Ditolak',   
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
    confirmButtonText: 'Ya, tolak!'
    }).then((result) => {
    if (result.isConfirmed) {
        Swal.fire(
        'Ditolak!',
        'Data penerima telah ditolak.',
        'success'
        )
        form.submit();
    }
    }) 
}); {% endcomment %}
{% comment %} var csrftoken = $("[name=csrfmiddlewaretoken]").val(); {% endcomment %}
$(document).ready(function(){
    $(document).on('click', '.confirm_reject', function() {
        id_value = this.id;
        Swal.fire({
        title: 'Apakah anda yakin untuk menolak data ini?',
        text: "Setelah ditolak, data akan langsung dihapus dari perhitungan",
        input: 'text',
        inputLabel: 'Alasan Ditolak',   
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Ya, tolak!'
        }).then((result) => {
            if (result.value) {
                values = result.value;
                var alasan_value = JSON.stringify(values);
                var id_ranking = JSON.stringify(id_value);
                $.ajax({
                    url: '{% url 'penerima:tolak' %}',
                    type: 'POST',
                    dataType: 'json',
                    headers:{
                        "X-CSRFToken": '{{ csrf_token }}'
                    },
                    data: {
                        alasan : alasan_value,
                        id : id_ranking
                    },
                    success: function(data) {
                        location.reload();
                    }
                });  //end ajax
            }
        });
    });
});
</script>
<script>
    $(document).ready( function () {
      $('#table-ranking').DataTable();
      
  } );
  
</script>
{% endblock footer %}