{% extends base %}
{% comment %} {% if user.groups.all.0.name == 'TKSK' %} {% endcomment %}
{% comment %} {% else %}
{% extends 'base.html' %}
{% endif %} {% endcomment %}
{% load static %}
{% block head %}

{% endblock head %}


{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="min-height: 788px">
            <div class="row page-titles mx-0">
              <div class="col p-md-0">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">
                    <a href="{% url 'account:user' %}">{{title}}</a>
                  </li>
                </ol>
              </div>
            </div>
            <!-- row -->
          
            <div class="container-fluid ">
              <div class="row" style="justify-content: center;">
                <div class="col-12">
                    
                  <div class="card" >
                    <div class="card-body">
                        <h4 class="card-title">Ubah Kata Sandi</h4>
                        <div class="basic-form">
                            <form method="POST" action="{% url 'account:change_password' %}">
                                {% csrf_token %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{error}}
                                </div>
                                {% endfor %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{field.label}}
                                        {{field}}
                                    </div>  
                                    {% if field.errors %}
                                        <small class="text-danger mt-0">
                                            {{field.errors}}
                                        </small>
                                    {% endif %}
                                {% endfor %}
                                <button type="submit" class="btn btn-success">Change</button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- #/ container -->
          </div>
    <!--**********************************
            Content body end
        ***********************************-->

{% endblock body %}

{% block footer %}

{% endblock footer %}