{% load static %}

  <label class="inputdata-label">1. Rumah tangga memiliki sendiri aset sebagai berikut:</label>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Tabung gas 5.5/lebih</label>
      <select class="form-control" id="gas" name="gas" required>
        <option value="">--- pilih kepemilikan tabung gas ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Lemari es/Kulkas</label>
      <select class="form-control" id="kulkas" name="kulkas" required>
        <option value="">--- pilih kepemilikan lemari es ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">AC</label>
      <select class="form-control" id="ac" name="ac" required>
        <option value="">--- pilih kepemilikan AC ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Pemanas Air</label>
      <select class="form-control" id="pemanas_air" name="pemanas_air" required>
        <option value="">--- pilih kepemilikan pemanas air ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Telepon Rumah</label>
      <select class="form-control" id="telepon_rumah" name="telepon_rumah" required>
        <option value="">--- pilih kepemilikan telepon rumah ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">TV</label>
      <select class="form-control" id="tv" name="tv" required>
        <option value="">--- pilih kepemilikan tv ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Emas/Perhiasan senilai 10 gr</label>
      <select class="form-control" id="perhiasan" name="perhiasan" required>
        <option value="">--- pilih kepemilikan perhiasan ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Komputer/Laptop</label>
      <select class="form-control" id="komputer" name="komputer" required>
        <option value="">--- pilih kepemilikan pemanas air ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Sepeda</label>
      <select class="form-control" id="sepeda" name="sepeda" required>
        <option value="">--- pilih kepemilikan sepeda ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Sepeda Motor</label>
      <select class="form-control" id="motor" name="motor" required>
        <option value="">--- pilih kepemilikan motor ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Mobil</label>
      <select class="form-control" id="mobil" name="mobil" required>
        <option value="">--- pilih kepemilikan mobil ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Perahu</label>
      <select class="form-control" id="perahu" name="perahu" required>
        <option value="">--- pilih kepemilikan perahu ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Motor Tempel</label>
      <select class="form-control" id="motor_tempel" name="motor_tempel" required>
        <option value="">--- pilih kepemilikan motor tempel ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Perahu Motor</label>
      <select class="form-control" id="perahu_motor" name="perahu_motor" required>
        <option value="">--- pilih kepemilikan perahu motor ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Kapal</label>
      <select class="form-control" id="kapal" name="kapal" required>
        <option value="">--- pilih kepemilian kapal ---</option>
        <option value="0">Tidak Punya</option>
        <option value="1">Punya</option>
    </select>
    </div>
  </div>
  <label class="inputdata-label">2. Rumah tangga memiliki aset tidak bergerak sebagai berikut:</label>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Lahan/m2</label>
      <input type="number" class="form-control" name="lahan" id="lahan" required placeholder="/m2" value=""/>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Rumah di tempat lain</label>
      <input type="number" class="form-control" name="rumah_lain" id="rumah_lain" required value=""/>
    </div>    
  </div>
  <label class="inputdata-label">3. Rumah tangga memiliki sendiri aset sebagai berikut:</label>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Sapi</label>
      <input type="number" class="form-control" name="sapi" id="sapi" required value=""/>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Kerbau</label>
      <input type="number" class="form-control" name="kerbau" id="kerbau" required value=""/>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Kuda</label>
      <input type="number" class="form-control" name="kuda" id="kuda" required value=""/>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Babi</label>
      <input type="number" class="form-control" name="babi" id="babi" required value=""/>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Kambing/Domba</label>
      <input type="number" class="form-control" name="kambing" id="kambing" required value=""/>
    </div>
    <div class="form-group col-md-3">
      <label class="col-form-label" for="val-username">Unggas</label>
      <input type="number" class="form-control" name="unggas" id="unggas" required value=""/>
    </div>    
  </div>
  <label class="inputdata-label">4. Jumlah pengeluaran RUTA dalam sebulan:</label>
  <div class="form-group">
    <label>List pengeluaran(pilih salah satu):</label>
    <select class="form-control" id="pengeluaran" name="pengeluaran" required>
        <option value="">--- pilih jumlah pengeluaran ---</option>
        <option value="0 - 400K">Rp. 0 - 400.000</option>
        <option value="400K -800K">Rp. 400.001 - 800.000</option>
        <option value="800K - 1200K">Rp. 800.001 - 1.200.000</option>
        <option value="1200K - 1600K">Rp. 1.200.001 - 1.600.000</option>
        <option value="1600K - 2000K">Rp. 1.600.001 - 2.000.000</option>
        <option value="> 2000K">> Rp. 2.000.000</option>
    </select>
  </div>

  <script>
    {% if data_aset %}
    $("#gas option[value='{{data_aset.gas}}']").prop('selected', true);
    $("#kulkas option[value='{{data_aset.kulkas}}']").prop('selected', true);
    $("#ac option[value='{{data_aset.ac}}']").prop('selected', true);
    $("#pemanas_air option[value='{{data_aset.pemanas_air}}']").prop('selected', true);
    $("#telepon_rumah option[value='{{data_aset.telepon_rumah}}']").prop('selected', true);
    $("#tv option[value='{{data_aset.tv}}']").prop('selected', true);
    $("#perhiasan option[value='{{data_aset.perhiasan}}']").prop('selected', true);
    $("#komputer option[value='{{data_aset.komputer}}']").prop('selected', true);
    $("#sepeda option[value='{{data_aset.sepeda}}']").prop('selected', true);
    $("#motor option[value='{{data_aset.motor}}']").prop('selected', true);
    $("#mobil option[value='{{data_aset.mobil}}']").prop('selected', true);
    $("#perahu option[value='{{data_aset.perahu}}']").prop('selected', true);
    $("#motor_tempel option[value='{{data_aset.motor_tempel}}']").prop('selected', true);
    $("#perahu_motor option[value='{{data_aset.perahu_motor}}']").prop('selected', true);
    $("#kapal option[value='{{data_aset.kapal}}']").prop('selected', true);
    $('#lahan').val("{{data_aset.lahan}}");
    $('#rumah_lain').val("{{data_aset.rumah_lain}}");
    $('#sapi').val("{{data_aset.sapi}}");
    $('#kerbau').val("{{data_aset.kerbau}}");
    $('#kuda').val("{{data_aset.kuda}}");
    $('#babi').val("{{data_aset.babi}}");
    $('#kambing').val("{{data_aset.kambing}}");
    $('#unggas').val("{{data_aset.unggas}}");
    {% if data_aset.pengeluaran == "> 2000K" %}
      $("#pengeluaran option[value='> 2000K']").prop('selected', true);
    {% else %}
      $("#pengeluaran option[value='{{data_aset.pengeluaran}}']").prop('selected', true);
    {% endif %}
 
    {% endif %}
  </script>